<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script type="application/javascript" src="../Script/jquery.js"></script>
    <script type="application/javascript" src="../Script/indexController.js"></script>
    <script type="application/javascript" src="../Script/indexStyleController.js"></script>
    <script type="application/javascript" src="../Script/loginController.js"></script>
    <script type="application/javascript" src="../Script/addSongController.js"></script>
    <link rel="stylesheet" type="text/css" href="../Styles/indexStyle.css">
    <link rel="stylesheet" type="text/css" href="../Styles/indexStyle-footer.css">
    <link rel="stylesheet" type="text/css" href="../Styles/ice-music.css">
</head>
<body>
    <!--<button id="fetchButton">Fetch</button>-->
    <button id="buttonLogin">Login</button>
    <button id="buttonLogout">Logout</button>
    <button id="buttonAddSong">Add Song</button>
    <div id="addSongField">
        <form action="../Api/insertSong.php" method="post" enctype="multipart/form-data" id="form-add-song">
            <input type="text" name="songNameTxt" id="songNameTxt" placeholder="Song Name"><br>
            <input type="text" name="artistTxt" id="artistTxt" placeholder="Artist"><br>
            <input type="file" name="fileToUpload" id="fileToUpload">
            <div id="errorDiv-file">err</div>
            <input type="submit" id="submit" name="submit">
        </form>
    </div>

    Filter
    <form action="" method="get" id="filter-form">
        <input type="text" name="searchTxt" id="searchTxt"><br>
    </form>

    <div id="playlist">
        <div id="playlist-header">
            <div class="playlist-header-contents">Id</div>
            <div class="playlist-header-contents">Name</div>
            <div class="playlist-header-contents">Artist</div>
            <div class="playlist-header-contents"></div>
        </div>
        <div id="playlist-body">
            <!--<div class="playlist-body-content">-->
                <!--<div class="playlist-body-content-contents">Id1</div>-->
                <!--<div class="playlist-body-content-contents"><span class="yellow-span">Name1</span></div>-->
                <!--<div class="playlist-body-content-contents">Path1</div>-->
                <!--<div class="playlist-body-content-contents"><div class="play-div"></div></div>-->
            <!--</div>-->
        </div>

    </div>
    <div id="full-screen-div">

    </div>
    <div id="login-form">
        <div id="login-head-div">
            <span>Login</span><br>
        </div>
        <div id="login-form-div">
            <form action="">
                <input type="text" id="nameTxt" placeholder="Username or Email"><br>
                <input type="password" id="passwordTxt" placeholder="Password"><br>
            </form>
        </div>
        <div id="login-button-div">
            <div id="errorDiv">err</div>
            <button id="buttonSubmitLogin">Login</button>
            <button>Forget Password</button>

        </div>
    </div>

    <div id="foot-bar">
        <div id="stop-div" class="inliner"></div>
        <audio id="myAudio" controls>
        <source src="" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
    </div>
    <div id="fetch-loading-div">
        <div class="image-load"></div>
    </div>
    <!--<div id="footer">-->
        <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores culpa deserunt dignissimos dolore doloremque, eveniet harum id laudantium libero natus neque quia quibusdam quisquam, repudiandae saepe sint soluta vero!-->
    <!--</div>-->

</body>
</html>